# Config vars for Conjur Policy Workshop

# These values tend to change
export WORKSHOP_HOME_DIR=~/Conjur/dap-policy-workshop
export LOCAL_APPLIANCE_IMAGE=registry.tld/conjur-appliance:11.4.0
export LOCAL_CLI_IMAGE=cyberark/conjur-cli:5-6.2.2
export CONJUR_MASTER_HOSTNAME=JodyMac.local
export CONJUR_MASTER_HOST_IP=192.168.68.116

# These values tend to stay constant
export PATH=$PATH:$WORKSHOP_HOME_DIR/bin
export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOSTNAME
export CONJUR_MASTER_CONTAINER_NAME=conjur-master
export CONJUR_MASTER_PORT=443
export CONJUR_MASTER_PGSYNC_PORT=5432
export CONJUR_MASTER_PGAUDIT_PORT=1999
export CONJUR_ACCOUNT=dev
export CONJUR_ADMIN_USERNAME=admin
export CONJUR_ADMIN_PASSWORD=CYberark11!!
export CLI_CONTAINER_NAME=conjur-cli
